

body, html {
    height: 100%;
    background-color: rgb(21, 21, 21);
}

#app {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    color: #2c3e50;
    width: 100%;
}

.page {
    height:inherit;
    margin-left:20px;
    margin-right:20px;
    
}
.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 1px 5px 0 rgba(255, 255, 255, 0.12), 0 3px 1px -2px rgba(255, 255, 255, 0.2);
}

.z-depth-1-half {
    box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.14), 0 1px 7px 0 rgba(255, 255, 255, 0.12), 0 3px 1px -1px rgba(255, 255, 255, 0.2);
}

.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(255, 255, 255, 0.14), 0 1px 10px 0 rgba(255, 255, 255, 0.12), 0 2px 4px -1px rgba(255, 255, 255, 0.3);
}

.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.14), 0 1px 18px 0 rgba(255, 255, 255, 0.12), 0 3px 5px -1px rgba(255, 255, 255, 0.3);
}

.z-depth-4 {
    box-shadow: 0 8px 10px 1px rgba(255, 255, 255, 0.14), 0 3px 14px 2px rgba(255, 255, 255, 0.12), 0 5px 5px -3px rgba(255, 255, 255, 0.3);
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(255, 255, 255, 0.14), 0 6px 30px 5px rgba(255, 255, 255, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.30);
}

.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}

    .hoverable:hover {
        transition: box-shadow .25s;
        box-shadow: 0 8px 17px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }

a.nav-link, test {
    color: yellow;
}

ul, p,td {
    color: white;
}

h1{
    padding-bottom:50px;
}

p{
    padding-left:20px;
}

.textBlock {
    width: 300px;
}

.active {
    font-weight: bold;
}

.nav {
    background-color: #080808;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: yellow;
    font-size: 1rem;
    opacity: 0;
    animation-fill-mode: forwards;
}

.introFade {
    animation-duration:2s;
    animation-name: fadeHeader;
    animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
}

.introText {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -100px 0 0 -400px;
}

@keyframes fadeHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadein {
    animation-duration: 3.5s;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.content {
    text-align: left;
    padding: 40px;
}

a {
    color: #FFD700;
    letter-spacing: 1.75px;
    padding: 10px;
}

.login-holder {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.login-card {
    width: 400px;
    height: 650px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgba(21, 21, 21, 0.92);
}

